body {
  background-color: #f3f3f3;
  font-family: Arial, sans-serif;
}

.container {
  width: 350px;
  margin: 120px auto;
  padding: 25px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  width: 94%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #aaa;
  border-radius: 5px;
}

button {
  width: 100%;
  background: #007bff;
  color: white;
  border: none;
  padding: 12px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #005bb5;
}
